---
import Header from "../components/header/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
		<main>
			<slot/>
		</main>
  </body>
</html>

<style is:global>
  :root {
    --primary-100: #8b5d33;
    --primary-200: #be8a5e;
    --primary-300: #ffedbc;
    --accent-100: #bfbfbf;
    --accent-200: #616161;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #e5e5e5;
    --bg-200: #dbdbdb;
    --bg-300: #b3b3b3;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    min-height: 100dvh;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  img,
  video,
  svg {
    height: auto;
    max-width: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
    }
  }
</style>
